<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtdmybatis-3-mapper.dtd">
<mapper namespace="Calendar">
<insert id="addSchedule" parameterType="calendar">
INSERT INTO SCHEDULE (EMPLOYEENO,STARTTIME,ENDTIME,scheduleContent)
VALUES( #{employeeNo}, #{starttime}, #{endtime}, #{scheduleContent})
</insert>
<select id="getSchedule" resultType="calendar" >
	SELECT EMPLOYEENO,STARTTIME,ENDTIME,scheduleContent FROM SCHEDULE
	
	
	</select>



</mapper>