<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtdmybatis-3-mapper.dtd">
<mapper namespace="Pt">
<insert parameterType="pt" id="ptmake"> 
INSERT INTO FULLCALENDAR VALUES(#{id}, #{title}, #{starttime},#{endtime},#{allDay},#{className},#{price},#{count},#{log}) 
</insert>
<select id="callender" parameterType="pt" resultType="pt">
SELECT * FROM FULLCALENDAR where id=#{id}
</select>

<update id="increaseHit" parameterType="pt">
UPDATE FULLCALENDAR SET log=log+1 WHERE Id=#{id}
</update>
<select parameterType="pt" id="ptr" resultType="pt">
SELECT * FROM FULLCALENDAR where LOG=#{log}</select>
<insert parameterType="pt" id="addpt"> 
INSERT INTO PT VALUES(#{id},#{tranl},#{title},#{starttime},#{endtime},#{price}) 
</insert>
</mapper>