<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<typeAliases>
<typeAlias alias="member" type="com.KL.member.vo.MemberVO"/>
<typeAlias alias="pt" type="com.KL.member.vo.PtVO"/>
<typeAlias alias="card" type="com.KL.member.vo.CardVO"/>
<typeAlias alias="calendar" type="com.KL.member.vo.CalendarVO"/>
<typeAlias alias="kl" type="com.KL.member.vo.KLVO"/>
<typeAlias alias="Com" type="com.KL.member.vo.CommentVO"/>
</typeAliases>
</configuration>
